/*Graficos*/
.container-graficos .row{
    max-width: 100%;
    margin: 50px auto;
}

.chart{
    border-radius: 10px;
    background: #fff;
    width: 600px;
    min-height: 500px;
    box-shadow: 0 1px 10px rgba(83, 82, 82, 0.446);
}
