.componets-card-customer {
    display: grid;
    padding: 2%;
    gap: 4%;
    max-width: 100%;
    margin: 20px auto;
    padding: 90px 60px;
}

.card-customer {
    min-width: 400px;
    max-width: 500px;
    padding: 20px 35px;
    box-shadow: 0 1px 10px rgba(83, 82, 82, 0.446);
    border-radius: 8px;
    line-height: 1.7;
    background: #fff;
}

.card-customer span {
    font-size: 20px;
}


.card-customer .content {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.card-customer .content i {
    font-size: 50px;
}

.card-customer .content img {
    width: 70px;
    float: right;
}

/*SIZE RESPONSIVE CARDS*/
@media (min-width: 992px) {
    .componets-card-customer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 991px) {

    .componets-card-customer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 499px) {

    .componets-card-customer {
        grid-template-columns: 1fr;
        gap: 1%;

    }
}

/*--SECTION CUSTOMERS-------------------------*/

.container-resumen{
    max-width: 100%;
    margin: 0 auto;
    display: flex;
}

/*CARD RESUMEN CUSTOMER*/
.componets-card-resumen {
    display: grid;
    padding: 2%;
    gap: 4%;
    max-width: 100%;
    margin: 20px auto;
    padding: 40px;
    border-radius: 40px;
    background: #00acd333;
}

.card-resumen {
    width: 250px;
    padding: 20px 35px;
    box-shadow: 0 1px 10px rgba(83, 82, 82, 0.446);
    border-radius: 8px;
    line-height: 1.7;
    background: #fff;
}

.card-resumen span {
    font-size: 20px;
}

.card-resumen .content {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.card-resumen .content i {
    font-size: 50px;
}

.card-resumen .content img {
    width: 70px;
    float: right;
}

/*SIZE RESPONSIVE CARDS*/
@media (min-width: 992px) {
    .componets-card-resumen {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 991px) {

    .componets-card-resumen {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 499px) {

    .componets-card-resumen {
        grid-template-columns: 1fr;
        gap: 1%;

    }
}
/*CARD RESUMEN CUSTOMER*/

/*LIST STYLE*/
.row-data{
    width: 330px;
    margin: 0 auto;
    background: #fff;
    border-radius: 30px;
    padding: 20px;
    padding-right: 40px;
}

.row-data h4{
    text-align: center;
    padding: 5px;
    border-bottom: solid 1px #00acd333;
    font-weight: 800;
    font-size: 20px;
}

.list-group a{
    margin: 10px;
    border-radius: 20px;
    font-size: 13px;
}

.list-group small{
    color: #fff;
}

#BN {
    background: rgb(53, 53, 53);
    color: #fff;
}

#color{
    background: #00f6ff;
}
/*LIST STYLE*/


/*ICON SEARCH*/
.search {
    width: 450px;
    max-width: 100%;
    margin: 0 auto;
}

.search input {
    height: 55px;
    width: 100%;
    border-radius: 30px;
    border: solid 1px #007295;
    padding-left: 25px;
}

/*ICON SEARCH*/


/*SEARCH-PARK*/
.search-park {
    max-width: 600px;
    margin: 50px auto;
    align-items: center;
}

.search-park input {
    height: 55px;
    width: 100%;
    border-radius: 30px;
    border: solid 1px #007295;
    padding-left: 25px;
}

/*SEARCH-PARK*/

/*TABLES*/
.container-table {
    max-width: 1400px;
    margin: 0 auto;
    background: #a4b4fa2f;
    backdrop-filter: blur(0.4rem);
    -webkit-backdrop-filter: blur(0.4rem);
    border-radius: 20px;
    padding: 30px;

}

.container-table .head-t{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    border-bottom: solid 1px #00acd333;
    margin-bottom: 30px;
}


.container-table p {
    color: #00445f;
    font-size: 27px;
    font-weight: 600;
}

.content-table{
    overflow-x: auto;
    scroll-behavior: smooth;
}

.content-table::-webkit-scrollbar{
    display: none;
}

/*TABLE PARK*/
table {
    max-width: 100%;
    margin: 0 auto;
    border: solid 1px #00acd333;
}

table::-webkit-scrollbar {
    width: 0;
}

table thead {
    height: 60px;
    font-size: 13px;;
}

table thead tr th{
    min-width: 120px;
    text-align: center;

}

table tbody tr {
    height: 80px;
    line-height: 1.5;
    text-align: center;
}

table tbody tr td {
    font-size: 13px;
    min-width: 150px;
    border: solid 1px #c7e4eb1b;

}

/*Filas Impares*/
table tr:nth-child(odd) td {
    background: #eef0f398;
    backdrop-filter: blur(0.4rem);
    -webkit-backdrop-filter: blur(0.4rem);
}

/*Filas Pares*/
table tr:nth-child(even) td {
    background: #cad4e398;
}

.icons-pages{
    display: flex;
    justify-content: end;
}

.icons-pages button{
    background: none;
    padding: 8px;
    border: solid 1px #00445f;
    border-radius: 50%;
    margin: 10px 5px;
    transition: transform .3s ease;
}

.icons-pages button:hover{
    transform: scale(1.1);
}

.icons-pages i{
    font-size: 30px;
    color: #00445f;
}
/*TABLE PARK*/


/*CONTAINER-PUBLIC*/
.container-graficos{
    background: #00acd31c;
    border-radius: 20px;
    display: grid;
    padding: 50px;
    gap: 4%;
    margin-bottom: 30px;
}

/*Graficos*/
.container-graficos .row{
    max-width: 100%;
    margin: 50px auto;
}

.chart{
    border-radius: 10px;
    background: #fff;
    width: 400px;
    min-height: 400px;
    box-shadow: 0 1px 10px rgba(83, 82, 82, 0.446);
}


@media (min-width: 992px) {
    .container-graficos{
        grid-template-columns: repeat(3, 1fr);
    }    
}

@media (max-width: 991px) {
    .container-graficos{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 449px) {
    .container-public{
        grid-template-columns: 1fr;
        gap: 1%;
    }
}

/*SEARCH-READDING "PARK"*/
/*FILTERS READING*/

.container-filters{
    background: #00acd31c;
    margin-bottom: 50px;
    padding: 50px 80px;
    border-radius: 20px;
}

.search-reading input{
    width: 600px;
    height: 50px;
    border-radius: 15px;
    border: solid 1px #00acd362;
}

.container-form{
    padding: 5px;
    width: 750px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-floating select{
    width: 250px;
}

.container-form button{
    background: #023245;
    font-size: 14px;
    color: #fff;
    padding: 12px 14px;
    border: none;
    border-radius: 8px;
}

.container-form button:hover{
    background: rgba(2, 50, 69, 0.783)
}