*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: blue;
}

header{
    position: absolute;
    width: 100%;
    height: 65px;
    background: #f3f3f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    box-shadow: 0 1px 10px rgba(83, 82, 82, 0.446);
}

header .logo img{
    width: 90px;
}

header button{
    border: none;
    font-size: 20px;
    background: none;
    margin: 10px;
}

.sidebar{
    position: fixed;
    background: #0e0e16;
    width: max-content;
    padding: 0.5rem 0.5rem;
    height: 100%;
}

.sidebar:hover .sidebar_element{
    grid-template-columns: 40px 1fr;
}

.sidebar_list{
    margin-top: 15px;
    list-style: none;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.sidebar_element img{
    width: 30px;
}

.sidebar_element{
    padding: .3rem 1rem;
    border-radius: 3px;
    display: grid;
    align-items: center;
    grid-template-columns: 40px 0fr;
    color: #fff;
    transition: grid-template-columns .5s;

}

.sidebar_element p{
    margin-top: 20px;
}

.sidebar_icon--logo{
    max-width: 30px;
}

.sidebar_icon{
    width: 100%;
    overflow: hidden;
    justify-self: center;
}

.sidebar_element:not(.sidebar_icon--user){
    border: solid 1px #7858a6bb;
}

.sidebar_icon--user{
    border-top: solid #7858a6bb 1px;
}

.sidebar_element:not(.sidebar_element--logo):hover{
    background: #7858A6;
    cursor: pointer;
}

.sidebar_element:has(.sidebar_icon--logo){
    background: #371B58;
    font-size: 20px;
    margin-bottom: 30px;
}

/*Oculatr*/
.sidebar_hide{
    overflow: hidden;
}

/*SESION MAIN*/
main{
    max-width: 90%;
    margin: 0 10%;
    padding-top: 50px;
}


/*Primera Parte*/
.container-das{
    padding: 50px;
    background: #f3f3f3;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
}

.container-das .user{
    border: solid  #b8b5b56b 1px;
    padding: 10px 25px;
    border-radius: 8px;
}

.container-das img{
    width: 60px;
}

.container-das .user{
    display: flex;
    align-items: center;
}

.container-das .user .text{
    margin: 20px;
    line-height: 1;
}

/*status-contratos*/
.status-contratos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    text-align: center;
    padding: 10px 25px;
    border-radius: 8px;
    line-height: 1;
    align-items: center;
}


.status-contratos article{
    border: solid 1px #7f7c7c88;
    padding: 20px;
    border-radius: 10px;
    font-size: 17px;
}

.status-contratos article p i{
    font-size: 35px;
    color: #371b58;
}

/*Graficos*/
.container-graficos .row{
    max-width: 100%;
    margin: 50px auto;
}

.chart{
    border-radius: 10px;
    background: #f3f3f3;
    width: 100%;
    min-height: 500px;
}


