/* FONTS GOOGLE */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* VARIABLES */

/*

.color1 {color: #002134;}
.color2 {color: #00445f;}
.color3 {color: #007295;}
.color4 {color: #00aed3;}
.color5 {color: #00f6ff;}

*/

:root {
    --blanco: #E0E0E0;
    --azul-opacidad: #00aed3;
    --bg-menu: #002134;
    --bg-body: #C7E1FF;
}

/* GENERALES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
}

header {
    position: absolute;
    width: 100%;
    height: 65px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    box-shadow: 0 1px 10px rgba(83, 82, 82, 0.446);
}

header .logo img {
    width: 45px;
}

header .logo {
    font-size: 20px;
}

header button {
    border: none;
    font-size: 20px;
    background: none;
    margin: 10px;
}

/* LAYOUT */

.menu-dashboard {
    position: fixed;
    max-width: 90px;
    height: 100%;
    background: var(--bg-menu);
    padding: 20px;
    transition: max-width .3s ease;
}

.top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-menu .logo {
    display: flex;
    align-items: center;
}

.top-menu .logo img {
    width: 40px;
    transition: width .3s ease;
}

.top-menu .logo span {
    font-size: 20px;
    margin-left: 20px;
    display: none;
}

.top-menu .toggle {
    width: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.top-menu .toggle i {
    font-size: 35px;
}

/* INPUT BOX */

.perfil-user {
    width: 100%;
    margin: 50px 0;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.perfil-user {
    padding: 30px;
    color: #fff;
}

.perfil-user img {
    width: 50px;
}

.input-search i {
    font-size: 30px;
    margin-right: 20px;
}

.perfil-user .text {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    height: 30px;
    color: var(--blanco);
    font-size: 22px;
    display: none;
}

.perfil-user {
    flex-direction: column;
}

.perfil-user .text {
    font-size: 15px;
    text-align: center;
    line-height: 1.5;
}

/* ENLACES MENU */

.menu .enlace {
    width: 100%;
    padding: 10px 0 10px 15px;
    border: solid 1px #00f7ff64;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 20px;
    transition: all .3s ease;
    color: #fff;
}


.menu .enlace a {
    text-decoration: none;
    color: #fff;
}

.menu .enlace:hover {
    background: var(--azul-opacidad);
}

.menu .enlace i {
    margin-right: 20px;
    font-size: 25px;
}

.menu .enlace span {
    opacity: 0;
    transition: opacity .3s ease;
}

.menu-dashboard.open {
    max-width: 300px;
}

.menu-dashboard.open .top-menu .logo span {
    display: block;
}

.menu-dashboard.open .perfil-user .menu-dashboard.open .menu .enlace {
    width: auto;
}

.menu-dashboard.open .perfil-user .text {
    display: block;
}

.menu-dashboard.open .menu .enlace {
    padding: 10px;
    font-size: 15px;
}

.menu-dashboard.open .menu .enlace span {
    opacity: 1;
}

article {
    position: relative;
    max-width: 1400px;
    margin:  0 auto;
    padding: 20px;
    text-align: justify;    
    transition: margin-left 0.5s ease;
}

article.min-main{
    margin-left: 300px;
}

.container-top {
    margin: 20px;
}

.container-top .title-top {
    margin-bottom: 50px;
}

.container-top .title-top h6 {
    font-size: 35px;
}

.container-top small {
    font-size: 15px;
}

/*CARDS*/
.componets-card {
    display: grid;
    padding: 2%;
    gap: 4%;
    max-width: 90%;
    margin: 0 auto;
}

.card {
    max-width: 400px;
    min-height: 200px;
    padding: 20px 35px;
    box-shadow: 0 1px 10px rgba(83, 82, 82, 0.446);
    line-height: 1.7;
}

.card span{
    font-size: 25px;
}

.card .content{
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.card .content i{
    font-size: 50px;
}

/*SIZE RESPONSIVE CARDS*/
@media (min-width: 992px) {
    .componets-card {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media (max-width: 991px) {

    .componets-card {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 499px) {

    .componets-card {
        grid-template-columns: 1fr;
        gap: 1%;

    }
}

/*SECTION USER EDITION*/
.user-edition{
    display: flex;
    align-items: center;
    padding: 20px ;
    background: #023443;
    border-radius: 20px;
    border: solid 1px #009592;
    color: #fff;
}

.user-edition img{
    width: 150px;
    margin: 15px;
}

.user-edition .title-top{
    margin-top: 45px;
}

.btn-password{
    padding: 15px 5px;
}

.btn-password button{
    background: #00f6ff;
    font-size: 16px;
    color: #023245;
    padding: 12px 14px;
    border: none;
    border-radius: 8px;    
}

.btn-password button:hover{
    background: #00f7ffa5;
}

/*componet-data-user*/
.componet-data-user{
    display: grid;
    border-radius: 20px;
    padding: 2%;
    gap: 1%;
}

.item-componet{
    border: solid 1px #a4b4fa58;
    border-radius: 8px;
    width: 100%;
    height: auto;
    line-height: 2;
    background: #a4b4fa2f;
    padding: 30px 40px;
}

.item-componet h6{
    font-size: 25px;
    font-weight: 700;
    color: #023245;
    padding-bottom: 30px;
}

.item-componet label{
    font-size: 18px;

}

.item-componet p{
    font-size: 17px;
}

.item-componet .btn-componet{
    float: right;
}

.btn-componet button{
    border-radius: 8px;
    padding: 10px;
}

@media (min-width: 992px) {
    .componet-data-user{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 991px) {
    .componet-data-user{
        grid-template-columns: repeat(1, 1fr);
        gap: 3%;
    }
}


/*SECSION CONTAINER-LEARNING*/
.container-learning{
    max-width: 1100px;
    margin:0 auto;
    padding: 20px;
}

.container-learning article .contenct{
    color: #002134;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 20px;
    padding-bottom: 50px;
    font-size: 13px;
    line-height: 2;
    text-align: justify;
}

.container-learning article .contenct small {
    font-size: 25px;
    font-weight: 700;
    color: #002134;
}

.container-learning article .contenct p{
    font-size: 13px;
    line-height: 2;
}

.container-learning article  img{
    width: 500px;
    float: left;
    margin-right: 30px;
}

.container-learning button a{
    text-decoration: none;
    color: #fff;
}

.container-learning button{
    padding: 10px;
    float: right;
    margin: 20px;
}
/*SECSION CONTAINER-LEARNING*/

/*CONTAINER-COMPONET-INSTALLATION*/
.container-componet-installation{
    display: grid;
    border-radius: 20px;
    padding: 20px;
}

.container-componet-installation .card-install{
    width: 100%;
    background-color: #fff;
    padding: 0;
    margin: 20px;
}

/*STYLE CARD-LEFT*/
.container-componet-installation .card-install .item-install-left{
    background: #00aed3;
    height: 100%;
    border-radius: 0 20% 20% 0;
    overflow: hidden;
    padding:  130px 100px;
    color: #fff;
    font-size: 20px;
    line-height: 2;
    text-align: center;
} 

.item-install-left h6{
    font-size: 37px;
    font-weight: 800;
    padding: 8px;
    margin-top: 50%;
}

.item-install-left button {
    padding: 10px 50px;
    border: solid 1px #f3f3f3f3;
    border-radius: 15px;
    background: rgba(128, 128, 128, 0.428);
    margin: 15px;
}

.item-install-left button a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}
/*STYLE CARD-LEFT*/


/*STYLE CARD-RIGHT*/
.container-componet-installation .card-install .item-install-right{
    background: #fff;
    padding: 30px;
    margin: 10px;
}

.container-componet-installation .card-install .item-install-right input{
    width: 100%;
    height: 50px;
}

.container-componet-installation .card-install .item-install-right .cont-top{
    text-align: center;
    padding: 30px;
}

.container-componet-installation .card-install .item-install-right h6{
    font-size: 35px;
    font-weight: 800;
}

/*STYLE CARD-RIGHT*/


@media (min-width: 500px) {
    .container-componet-installation{
        grid-template-columns: repeat(2, 1fr);
    }
}