<?php
session_start();
if (!empty($_SESSION["name"])) {
    header('');
} else {
    if (
        (time()- $_SESSION['time']) > 100
    ) {
        header("Location: ../log.php");
    }
}
?>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CloudFact-Park-Customer</title>

    <!--Styles-->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" href="../CSS/parck.css">
    <link rel="stylesheet" href="../CSS/dashboard.css">
    <link rel="stylesheet" href="../CSS/FRAMEWORK/Bootstrap.css">
    <!--Styles-->

</head>

<body style="background-color: rgba(208, 218, 237, 0.296);">

    <header>

        <div class="logo">
            <img src="../images/icons/cloud.svg" alt="">
            <span>CloudFact</span>
        </div>



        <div class="icons">

            <button type="button" class="btn btn-dark position-relative" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">
                <i class='bx bxs-bell-ring'></i>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    99+
                    <span class="visually-hidden">unread messages</span>
                </span>
            </button>


            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Centro de Notificaciones</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Modal-->

            <button><i class='bx bx-power-off'></i> </button>
        </div>
    </header>

    <div class="menu-dashboard">
        <!-- TOP MENU -->
        <div class="top-menu">

            <div class="toggle">
                <i class='bx bx-menu' style="color: #fff;"></i>
            </div>


        </div>
        <!-- INPUT SEARCH -->
        <div class="perfil-user">
            <img src="../images/icons/perfil.png" alt="">
            <br>
            <div class="text">
                <span>
                    <?php echo $_SESSION['name'] . ' ' . $_SESSION['surname'];?>
                </span><br>
                <small>
                    <?php echo $_SESSION['email']; ?>
                </small>
            </div>
        </div>
        <!-- MENU -->
        <div class="menu">
            <div class="enlace">
                <i class='bx bxs-dashboard'></i>
                <a href="../dashboard.php"><span>Panel</span></a>
            </div>

            <div class="enlace">
                <i class="bx bx-printer"></i>
                <a href=""><span>Parque</span></a>
            </div>

            <div class="enlace">
                <i class='bx bxs-credit-card'></i>
                <a href=""><span>Facturacion</span></a>
            </div>


        </div>
    </div>


    <main>
        <div class="container-top">

            <div class="title-top">
                <h6>Benvenid@
                    <?php echo $_SESSION['name'] . ' ' . $_SESSION['surname'];?>
                </h6>
                <small>Monitorea metricas clave. Consulta Informes y analiza la informacion</small>
            </div>

        </div>

        
            <!--cards-->
            <div class="componets-card-resumen">

                <div class="card-resumen">
                    <span><b>Equipos</b></span>
                    <br>
                    <small>Catidad de Equipos</small>
                    <div class="content">
                        <span>1.200</span>
                        <i class='bx bx-printer' style='color:#002134'></i>
                    </div>
                    <small>MFP & Printer</small>
                </div>

                
                <div class="card-resumen">
                    <span><b>Precio Bs</b></span>
                    <br>
                    <small>Equipos B/N</small>
                    <div class="content">
                        <span>1.5</span>
                        <i class='bx bxs-bank'style='color:#002134'></i>
                    </div>
                    <small>Costo Imp. B/N</small>
                </div>

                <div class="row-data">
                    agsgfa
                </div>

            </div>
            <!--cards-->

        <!--SEARCH-->
        <!-- start search filter -->
        <div class="search-park" data-aos="fade-up" data-aos-duration="1000" id="search">
            <div class="container">
                <form class="">
                    <input class="form-control me-2 light-table-filter" data-table="table" type="text"
                        placeholder="Search...">
                </form>
            </div>
        </div>
        <!-- end search filter -->
        <!--SEARCH-->


        <!--table-park-->
        <!--Include Controller-->
        <div class="container-table">
            <div class="head-t">
                <p>Customer's: <small>Seguros Venezuela</small></p> <br>
                <span>Cantidad de Registros: <b>4</b></span>
            </div>

            <table class="table">

                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                        <th scope="col">Handle</th>
                        <th scope="col">Handle</th>
                        <th scope="col">Handle</th>
                        <th scope="col">Handle</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Mark</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <td>Mark</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                    </tr>

                    <tr>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                    </tr>

                </tbody>
            </table>

            <div class="icons-pages">
                <button><i class='bx bx-chevron-left'></i></button>
                <button><i class='bx bx-chevron-right'></i></button>
            </div>

        </div>
        <!--table-park-->




    </main>







    <!--SCRIPTS-->
    <script src="../JS/app.js"></script>
    <script src="../JS/main.js"></script>
    <script src="../JS/echarts.js"></script>
    <script src="../JS/Bootstrap.js"></script>
    <!--SCRIPTS-->
</body>

</html>